*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Eclipse project files
.classpath
.project
*.exec

# Android Studio
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
build/

/*/out
/*/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
*.hprof
